* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.app {
  background-image: url('/images/back.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;

  padding-top: 60px; /* or margin-top: 60px; */


}

ul {
  list-style: none;
}

ul li {
  margin: 10px 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff9900;
}
